<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			
			<div class="form-create col-xs-5">
				<form class="panel panel-default">
					<div class="panel-heading">
						Create A Post
					</div>
					<div class="panel-body form-horizontal">

						<div class="form-group">
							<label for="creator" class="col-xs-2 control-label">Username:</label>
							<div class="col-xs-10">
								{{input name='creator' value=creator required=true}}
							</div>
						</div>

						<div class="form-group">
							<label for="question" class="col-xs-2 control-label">Question:</label>
							<div class="col-xs-10">
								{{input name='question' value=question required=true}}
							</div>
						</div>

						<div class="form-group">
							<label for="description" class="col-xs-2 control-label">Description:</label>
							<div class="col-xs-10">
								{{input name='description' value=description required=true}}
							</div>
						</div>

						<div class="form-group">
							<label for="url" class="col-xs-2 control-label">Embed URL:</label>
							<div class="col-xs-10">
								{{input name='url' value=url required=true}}
							</div>
						</div>

					</div>
					<div class="panel-footer">
		        	<button type='reset' class='btn btn-danger'>Clear</button>
		        	<button {{action "embedFetch" url on="click"}} class="btn btn-success">Create</button>
					</div>
				</form>
			</div>
			
			<div class="form-view col-xs-7 ">
				<div class="panel panel-primary">
					
				</div>
			</div>

		</div>
	</div>
</div>



{{!-- <div class="container">
	<div class="row">
		<form class="form-horizontal col-xs-5">
      <div class="form-group">
        <label for="creator">Username:</label>
        {{input value=creator  name='creator'}}
      </div>

      <div class="form-group">
        <label for="url">Embed URL:</label>
        {{input value=url required=true name='url'}}
      </div>

      <div class="form-group">
        {{input type='reset' value='Clear' class='btn btn-danger'}}
        <button {{action "embedFetch" url on="click"}} class="btn btn-success">Create</button>
      </div>
    </form>

		<div class="col-xs-7">
			{{#if isLoading}}
				<h4>Loading your embed. Please wait..</h4>
			{{/if}}
		  {{#if isLoaded}}
				<div class="panel panel-warning">
					<div class="panel-heading">
						<a href="{{embed.url}}" target="_blank">{{embed.title}}</a> <span style="opacity:0.5; font-size: 0.8em">({{embed.provider_url}})</span>
					</div>
					<div class="panel-body">
						<div class="col-xs-2">
							<img src="{{embed.thumbnail_url}}" class="img-thumbnail" />
						</div>
						<div class="col-xs-10">
							<p>
								{{embed.description}}
							</p>
							
						</div>
						<div class="col-xs-12">
							{{{embed.html}}}
						</div>
					</div>
				</div>
		  {{/if}}
		</div>
	</div>
</div> --}}

