<div class="container">
	<div class="row">
		<ul class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" style="list-style-type: none;">
			<li><h4 class="pull-left">Embedded posts coming up!</h4></li>
			<li>{{#link-to 'm-posts.create' tagName="button" class="btn navbar-btn btn-long pull-right"}}Create{{/link-to}}</li>
		</ul>
	</div>

	
	<div class="row">

		{{#each model as |m-post|}}
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<span class="pull-right">
						<a href="{{m-post.url}}">Permalink</a>
					</span>
					<span class="pull-left">
						{{m-post.creator}} asked {{m-post.question}}
					</span>
				</div>

				<div class="panel-body">
					{{m-post.description}}
					<p>
						{{m-post.embedded_content.title}}
						<img src="{{m-post.embedded_content.thumbnail_url}}" alt="" style="max-width: 300px">
						<div>
							{{{m-post.embedded_content.html}}}
						</div>
					</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>